$l: 'max-width: 1229.9px'
$m: 'max-width: 991.9px'
$s: 'max-width: 767.9px'
$xs: 'max-width: 575.9px'

$anim: 0.3s ease-in-out
$font-main: 'NeueMachinaInktrap'
$orange: #ff7e36
$orange-hover: #d0520c
$body-grey: #f4f4f4
$text-color: #1f232e
$black: #201d19
$dark-grey: #5b636a
$banner-color: #B564D4
